
.project {
    padding: 80px;
    position: relative;
    background-color: var(--color-blog);
    font-family: var(--font-family);
   
 
  }
  .proj-imgbx {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 20px;
    width: 1000px;
    height:130px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
   margin-left:100px;
  }
  
  .proj-imgbx::before {
    content: "";
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
  }
  .proj-imgbx:hover::before {
    height: 100%;
  }
  .proj-txtx {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
  }
  .proj-imgbx:hover .proj-txtx {
    top: 50%;
    opacity: 1;
  }
  .proj-txtx h4 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.3em;
    font-family: var(--font-family);
  }
  .proj-txtx span {
    font-style: italic;
    font-weight:500;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: var(--font-family);
  }
  .img1 {
     align-self: center;
     height: 90%;
    
  }
  .img2{
    align-self: center;
    height: 90%;
  }
  .team1{
    align-self: center;
    font-family: var(--font-family);
    font-size: 1.4rem;
    color: var(--color-blog);
    width: 200px;
  }
  .team2{
    align-self: center;
    font-family: var(--font-family);
    font-size: 1.4rem;
    color: var(--color-blog);
    width: 200px;
    
  }
  .VS{
    align-self: center;
    font-family: var(--font-family);
    font-size: 1.8rem;
    color: var(--color-blog);
    position: absolute;
    padding-right: 35px;
  }
  /*************/